# It is generally recommended to include lock files (poetry.lock, uv.lock)
# to ensure reproducibility:
# https://python-poetry.org/docs/basic-usage/#commit-your-poetrylock-file-to-version-control

# Virtual environments
.venv

# Environment variables
.env

__pycache__/

# Terraform
.terraform
*.tfstate*
